html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.lbdict_frame_view {
  width: fit-content;
}

.resultPreSearch:hover {
  opacity: 0.6;
  background: #b1a9a9;
  cursor: pointer;
  color: white;
}
.collapse{
    visibility:visible;
}

.active{
    color:blue !important;
}


.pagination-container{
    margin-top:10px;
}
.pagination {
    justify-content: flex-end
}

.pagination > li > a {
    padding: 0 8px;
    border: 1px solid
}
.pagination > li+li{
    margin: 0 5px;
}

    .pagination > li > span {
        padding: 0 8px;
        border: 1px solid
    }