@{
	ViewData["Title"] = "Home Page";
}
@if (ViewData["LogIn"] != null)
{
	<h4>@TempData["SuccessfullyLogIn"]</h4>
}
<h4 class="hidden role">@TempData["role"]</h4>
<h4 class="hidden id">@TempData["id"]</h4>
<div class="lg:w-[600px] mx-auto">
	<div  class="flex flex-col items-center justify-content-center">
		<h1 class="display-4 text-[#FF00FF] lg:text-[100px] text-[80px]">Dictionary</h1>
		<div class="flex items-center">
			<select id="selectLanguage" class="bg-gray-50 border border-gray-300 text-gray-900 text-xl w-fit lg:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5">
				
			</select>
			<i class="fa-solid fa-arrow-right mx-2"></i>
			<select id="selectLanguageTran" class="bg-gray-50 border border-gray-300 text-gray-900 text-xl w-fit lg:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 ">
		</select>
		</div>
			
		<div class="relative">
			<div class="p_search_wrap flex mt-7">
				<input type="text" id="search-input" onfocus="searchForcus()" onfocusout="searchOutForcus()" class="bg-gray-50 border border-gray-300 text-gray-900 text-xl lg:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="Nhấp vào đây...">
				<button id="search-button" class="ml-3 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-xl lg:text-sm  w-[100px] focus:outline-none ">Tra cứu</button>
			</div>
			<div id="list_search" class='w-full shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px] hidden absolute z-10 bg-white'></div>
		</div>
		<div id="result" class="lg:px-0 sm:px-0 px-5 mt-7">
			<!-- Kết quả tra cứu sẽ hiển thị ở đây -->
			<p class='text-4xl' id="word"></p>
			<p id="phonetic" class="text-[12px] text-gray-400"></p>
			<p class="text-blue-500 text-[25px]" id="wordTrans"></p>
			<p class="text-green-500" id="type"></p>
			<p id="definition" class="text-justify"></p>
			<p class='border-l-2 border-blue-500 pl-5' id="example"></p>
	
		</div>
	
		<div id="laban" class="hidden mx-auto flex justify-content-center">
			<script id="lbdict_plugin_frame" type="text/javascript">
				const width = window.screen.width;
				let w= width - (width*10/100)
				if (w > 600) {
					w=600
				}
				!function () {
					var h = { s: "https://dict.laban.vn", w: w, h: 300, hl: 2, th: 3 }; function loadScript(t, e) {
						var n = document.createElement("script"); n.type = "text/javascript", n.readyState ? n.onreadystatechange = function () { ("loaded" === n.readyState || "complete" === n.readyState) && (n.onreadystatechange = null, e()) } : n.onload = function () { e() }, n.src = t, q = document.getElementById("lbdict_plugin_frame"), q.parentNode.insertBefore(n, q)
					} setTimeout(function () { loadScript("https://stc-laban.zdn.vn/dictionary/js/plugin/lbdictplugin.frame.min.js", function () { lbDictPluginFrame.init(h) }) }, 1e3);
				}();</script>
		</div>
	</div>
</div>
<script>	
	if (document.querySelector(".role").innerHTML) localStorage.setItem("role", document.querySelector(".role").innerHTML)
	if (document.querySelector(".id").innerHTML) localStorage.setItem("id", document.querySelector(".id").innerHTML)
</script>
